<article>
    <header>
        <h1>Perfil</h1>
    </header>
    <div>
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Correo electrónico: {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
    </div>
    <footer>
        <a href="/api/session/logout" role="button">Cerrar sesión</a>
    </footer>
</article>